{% extends "books/base.html" %}

{% block content %}
    <legend>Borrowed Books</legend>
    {% for request in requests %}
        {% if request.request_status == 'Approved' %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'book-detail' request.book_detail.id %}">{{ request.book_detail.title }}</a>
                    <small class="text-muted">{{ request.book_detail.author }}</small>
                </div>
                <h3>requested by </h3><h3><a class="article-title" href="{% url 'profile-detail' request.requested_by.id %}">{{ request.requested_by }}</a></h3>
{#               <p class="article-content">{{ book.summary }}</p>#}
    <a class="btn btn-outline-secondary" href="{% url 'book-return' request.id %}">Return Book</a>
                {#                {% if request.book_detail.available == True %}#}
{#                    <a class="btn btn-outline-secondary" href="{% url 'request-approve' request.id %}">Approve</a>#}
{#                    <a class="btn btn-outline-danger" href="{% url 'request-decline' request.id %}">Decline</a>#}
{#                {% else %}#}
{#                    <small>This book is currently not available</small>#}
{#                {% endif %}#}

            </div>
        </article>
        {% endif %}
    {% endfor %}
{% endblock content %}